setuptools
pyvirtualdisplay
beautifulsoup4
python-dateutil
tld
multiprocess
dill
pyamf
psutil
plyvel
tblib
tabulate
pytest
publicsuffix
# Install specific version of selenium known to work well with the Firefox install we use
selenium==2.53.0
mmh3
# IPython 6.0+ does not support python 2.7
IPython>=5.0,<6.0
# See https://github.com/ActiveState/appdirs/issues/89
appdirs>=1.4.3
