<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="bootstrap.js">
        <link rel="stylesheet" href="bootstrap.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="content">
            <h1>Results: {{ len_rows }}</h1>
            <table class="table table-striped" style="max-width:90%;">
                <thead>
                    <tr class="row">
                        {% for h in headings %}
                        <th>{{h}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for r in rows %}
                <tr class="row" style="overflow:hidden;">
                    {% for c in r %}
                    <td style="max-width:20%;">{{c}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
